body {
    overflow-x: hidden;
}

#filter_bth_group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .275rem .75rem;
    margin-right: 1rem;
    margin-left: 0;
    background-color: darkgrey;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#sidebar-wrapper .list-sub-group {
    background-color: #92bee1;
    padding: .5rem 1rem;
    border-color: #343a40 !important;
    border-bottom: 1px solid #dee2e6 !important;
    cursor: pointer;
}

#sidebar-wrapper .list-sub-group-div {
    background-color: #f4f1f1;
    padding-left: 18px;
}

#sidebar-wrapper .list-sub-group-div a {
    font-size: 0.95rem;
    padding: .55rem 1rem;
}

.collapse.show {
    display: block;
}

#sidebar-wrapper .list-sub-group a {
    display: none;
}

#sidebar-wrapper .list-sub-group.active a {
    display: block;
}

#page-content-wrapper {
    min-width: 100vw;
    background-color: #FFF;
}

#sidebar-wrapper .btnCalendar {
    right: -3px;
    top: 3px;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#config_show {
    bottom: 2%;
    position: relative;
    width: 98.5%;
    border: 1px solid #047cf4 !important;
    overflow: scroll;
}

#myGrid.newgrid {
    bottom: 6%;
    position: relative;
    width: 98.5%;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

@media(min-height: 360px) {
    #myGrid.newgrid {
        height: 485px
    }

    #config_show {
        height: 495px
    }
}

@media(min-height: 650px)and (max-height: 749px) {
    #myGrid.newgrid {
        height: 555px
    }

    #config_show {
        height: 595px
    }
}

@media(min-height: 750px) {
    #myGrid.newgrid {
        height: 835px
    }

    #config_show {
        height: 875px
    }
}

.right_header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.bg_code {
    color: #e83e8c;
    word-break: break-word;
    background-color: #e0ffff;
    font-size: 1.75rem;
    line-height: 1;
    font-weight: 600;
}

#uploadPackage .modal-content {
    background-color: white !important;
    width: 100% !important;
}


#uploadPackage .dropzone {
    min-height: auto;
    padding: 1.5rem 1.75rem;
    cursor: pointer;
    border: 1px dashed #007bff !important;
    background-color: #f1faff !important;
    border-radius: .475rem !important
}

.accordion a[data-toggle="collapse"]::after {
    content: "hide";
    /* float: right; */
}

.accordion a[data-toggle="collapse"].collapsed::after {
    content: "show";
}